 /* Default button style */
 #colorButton {
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
.calc{
  margin-top: 40px;
  color: white;
  font-size: large;
  text-align: center;
}
.num{
  padding: 10px;
}

.result
{
  background: aliceblue;
  font-size: x-large;
  margin: 10px;
  padding: 10px 70px;
}

.result:hover{
  background-color: #945599;
  color: white;
}
#result{
  font-size: xx-large;
}

  *{
      padding: 0%;
      margin: 0%;
      box-sizing: border-box;
      font-family: sans-serif;
      
  }
  /* ==================================================================================================== */
  #header{
      height: 110px;
      -webkit-tap-highlight-color: transparent;
      background-color: #fff;
      display: flex;
      box-shadow: 0 0 29px 29px rgba(72, 84, 118, 0.12);
  
  }
  /* logo */
  .logo{
      position: relative;
      height: 80px;
      width: 210px;
      top: 9px;
      left: 60px;
  
      font-size: xxx-large;
      font-family: sans-serif;
      color: rgb(125, 0, 139);
  }
  
  /* menu navbar */
  .navbar{
      position: relative;
      height: 40px;
      top: 40px;
      left: 340px;
  }
  .menus{
      font-size: 22px;
  }
  .menu{
      display: inline-block;
      padding-left: 40px;
      padding-top: 10px;
  }
  .menu_name{
      text-decoration: none;
      color: #6c6666;
      font-family: cursive;
  }
  .menu_name:hover{
      color:rgb(11, 11, 141);
  }
  .active{
      color: darkblue;
  }
  
  /* getstart button */
  .getstrat{
      
      position: relative;
      top: 33px;
      left: 429px;
      height: 30px;
      padding: 12px 75px 30px;
  }
  .stratbutt:hover{
      background-color: rgb(171, 210, 210);
      color: white;
   
  }
  .stratbutt{
      background-color: #8e5599;
      border-radius: 7px;
      border: none;
      /* color: white; */
      font-weight: 500;
      font-size: x-large;
      letter-spacing: 2px;
      text-decoration: none;
      padding: 8px 14px;
  
     
  }
  .linkbutt:hover{
      background-color: rgb(210, 171, 209);
      color: black;
  }
  .linkbutt{
      text-decoration: none;
      color: white;
      padding-right: 21px;
      padding-left: 21px;
  }
  
  /* =========================================================================================================== */
  
  /* content */
  #content{
      /* background-color: red; */
      position: absolute;
      top: 110px;
      width: 100%;
  }
  .line::before,
  .line::after{
      content: '';
      background-color: #fff;
      display: inline-block;
      height: 3px;
      width: 220px;
      border-radius: 60px;
      margin: 0px 8px 1px;
  }
  
  .con{
      height: 859px;
      position: relative;
      background-color:  #924e8e;
      margin: 40px;
      border-radius: 30px;
      box-shadow: 0 0 29px 29px rgba(110, 131, 188, 0.12);
  }
  .input{
      height: 149px;
  }
  .inputbox{
      margin-left: 530px;
      margin-top: 60px;
      height: 49px;
      width: 240px;
      font-size: larger;
      padding: 10px;
      border-radius: 5px;
      border: 2px solid black;
      box-shadow: 0 0 29px 29px rgba(1, 1, 3, 0.10);
  }
  .button{
      padding: 10px 22px;
      padding-bottom: 10px;
      font-size: larger;
      border-radius: 5px;
      color: white;
      background-color: rgb(118, 0, 139);
      border: 2px solid white;
      
  }
  
  .content_text{
      text-align: justify;
      padding: 100px;
      padding-top: 30px;
      padding-top: 35;
      letter-spacing: 1px;
      line-height: 2;
      font-family: sans-serif;
      color: white;
  }
  
  .img{
      margin-right: 30px;
      margin-left: 1px;
      margin-top: 30px;
      margin-bottom: 30px;
      border-radius: 30px;
      border: 5px solid white;
      height: 263px;
      width: 323px;
  }
  
  .box{
      position: relative;
      height: 920px;
      width: 320px;
      margin-right: 70px;
      margin-left: 25px;
      text-align: justify;
  }
  .boxe{
      display: inline;
  }
  
  
  